.title{
  font-family: 'Allerta', sans-serif;
  color: white;
  margin-left: 575px;
  letter-spacing: 3px;
}


.header{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* ENTER BUTTON LINK */
.enter{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Allerta', sans-serif;
  font-size: 10px;
  border-style: solid;
  width: 125px;
  top:50%;
  transform:translateY(400%);
  border: white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: help;
  border: 3px solid white;
}

.enter a{
  text-decoration:none;
  display:block;
  width:125px;
  height:auto;
  margin-top:0;
  margin-bottom:0;
  line-height:60px;
  letter-spacing:3px;
  cursor: help;
}

.enter a:visited{
  color:#ffffff;
}

.explore2020 {
  font-family: 'Maven Pro';
  border-style: solid;
  width: 200px;
  position: absolute;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-left: 235px;
  margin-top: 620px;
  cursor: pointer;
  border: 3px solid black;
  text-decoration: none;
}

.explore2020 a:visited{
  color:black;
}

.explore2020 a:link{
  text-decoration: none;
}


h2{
  margin:10px auto;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

/* NAME */

/* HAMBURGER MENU */
.container{
  /* display: inline-block; */
  cursor: pointer;
  margin-top:2%;
  margin-right: 60px;
  float: right;
  z-index: 1 !important;
}

.container:hover .bar1{
  background-color: #888;
}

.container:hover .bar2{
  background-color: #888;
}

.container:hover .bar3{
  background-color: #888;
}

.letter{
  font-family: 'Allerta', sans-serif;
  text-align: center;
}

.name {
  font-family: 'Allerta', sans-serif;
  font-size: 15px;
  color: black;
  float: left;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
  display: block;

}
.name a:link{
  text-decoration: none;
}

.name a:visited{
  color: #000;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: 'Maven Pro';
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* ALL GALLERIES */

.twenty{
  position: absolute;
  margin-left: 33%;
  padding-top: 10%;
  cursor: pointer;
  z-index: -1;
}
.wrapper{
  z-index: -1;
}

.nineteen{
  position: relative;
  margin-left:33.5%;
  padding-top: 60%;
  cursor: pointer;
  z-index: -1;
}

.year2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 120px;
  margin-left: 850px;;
  margin-top: -745px;
  position: absolute;
}

.explore2019 {
  font-family: 'Maven Pro';
  border-style: solid;
  width: 200px;
  position: absolute;
  text-align: center;
  display: block;
  font-size: 17px;
  margin-left: 235px;
  margin-top: -120px;
  cursor: pointer;
  border: 3px solid black;
  text-decoration: none;
}

.explore2019 a:visited{
  color:black;
}

.explore2019 a:link{
  text-decoration: none;
}

.eighteen{
  margin-left:33.5%;
  margin-top: 90px;
  cursor: pointer;
  z-index: -1;
}

.year3{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-size: 120px;
  margin-left: 850px;;
  margin-top: -745px;
  position: absolute;
}


.explore2018 {
  font-family: 'Maven Pro';
  border-style: solid;
  width: 200px;
  position: absolute;
  text-align: center;
  display: block;
  font-size: 20px;
  margin-left: 235px;
  margin-top: -120px;
  cursor: pointer;
  text-decoration: none;
}

.explore2018 a:visited{
  color:black;
}

.explore2018 a:link{
  text-decoration: none;
}


/* ABOUT PAGE */
.profilepic {
    position: fixed;
    margin-top: 170px;
    margin-left: 320px;
    z-index: -2;
  }

.aboutme{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-left: 700px;
  margin-top: 90px;
  z-index: -1;
  position: fixed;
  cursor: pointer;
}

.aboutme2{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-left: 780px;
  margin-right: 150px;
  margin-top: 260px;
  position: fixed;
  cursor: help;
  z-index: -2;
}

.iglogo{
  float:left;
  width:55px;
  margin:10px;
}

.maillogo{
  float:left;
  width:45px;
  margin:10px;
}

.socialmedia{
  margin-top:540px;
  text-align:center;
  width:140px;
  margin-left:auto;
  margin-right:auto;
}

.year1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 120px;
  position: absolute;
  z-index: 2;
  margin-left: 848px;
  cursor: pointer;
}

.year1 img{
  position: absolute;
  margin-top: -267px;
  margin-left:-14px;
}

/* 2020 GALLERY */
.gallery1{
  font-family: 'Maven Pro';
  font-size: 120px;
  margin-right: 500px;
  font-weight: bold;
  float: right;
  overflow: auto;
  cursor: pointer;
}

.genshe{
  margin-left: 30px;
  position: absolute;
  margin-top: 330px;
  display: block;
  z-index: -2;
}

.gscaption{
  position: absolute;
  margin-left: 30px;
  margin-top: 575px;
  font-family: 'Maven Pro';
}

.ontop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffccf8;
}

.genshe:hover .ontop{
  opacity: 0.3;
}

/* GENSHE 2020 */
.gstitle{
  font-family: 'Maven Pro';
  font-size: 28px;
  margin-top: 120px;
  margin-left: 750px;
  margin-right: 100px;
  position: absolute;
  z-index: -1;
}

.mission{
  margin-left: 250px;
  margin-top: 150px;
  z-index: -2;
}

.team{
  margin-left: 425px;
  margin-top: -40px;
  z-index:1;

}

.gs1{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-left: 425px;
  margin-right: 300px;
  cursor: pointer;
}

.gs2{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
}

.gs3{
  margin-left: 350px;
}

.gs4{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
}

.gs5{
  margin-left: 350px;
}

/* 2019 GALLERY */
.gallery2{
  font-family: 'Maven Pro';
  font-size: 120px;
  margin-right: 550px;
  font-weight: bold;
  float: right;
  overflow: auto;
  cursor: pointer;
}

.amst220{
  margin-left: 30px;
  position: absolute;
  margin-top: 330px;
  display: block;
  z-index: -1;
}

.amstcaption{
  position: absolute;
  margin-left: 30px;
  margin-top: 575px;
  font-family: 'Maven Pro';
}

.ontopamst{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.amst220:hover .ontopamst{
  opacity: 0.3;
}

.yv{
  position: absolute;
  margin-left: 480px;
  margin-top: 700px;
  z-index: -1;
}

.ontopyv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.yv:hover .ontopyv{
  opacity: 0.3;
}

.roosevelt{
  margin-left: 30px;
  position: absolute;
  margin-top: 700px;
  display: block;
  z-index: -1;
}

.roocaption{
  position: absolute;
  margin-left: 30px;
  margin-top: 940px;
  font-family: 'Maven Pro';
}

.ontoproo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.roosevelt:hover .ontoproo{
  opacity: 0.3;
}


/* ROOSEVELT PAGE */

.rootitle{
  font-family: 'Maven Pro';
  font-size: 28px;
  margin-top: 220px;
  margin-left: 690px;
  margin-right: 120px;
  position: absolute;
  z-index: -1;
}

.reviewcover{
  position: absolute;
  margin-top: 150px;
  margin-left: 200px;
  z-index: -1;
}

.roospread{
  position: absolute;
  margin-left: 380px;
  margin-top: 500px;
  z-index:-1;
}

.roo1{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-left: 425px;
  margin-right: 300px;
  cursor: pointer;
  position: absolute;
  margin-top: 1000px;
}

.roo2{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
  position: absolute;
  margin-top: 1075px;
}


/* AMST PAGE */
.amsttitle{
  font-family: 'Maven Pro';
  font-size: 28px;
  margin-top: 220px;
  margin-left: 775px;
  margin-right: 110px;
  position: absolute;
  z-index: -1;
}

.amstphoto{
  margin-left: 300px;
  margin-top: 100px;
  z-index:-2;
  position: absolute;
}

.amstvid{
  margin-left: 340px;
  margin-top: 600px;
  position: absolute;
  z-index: -1;
}

.amst1{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-left: 425px;
  margin-right: 300px;
  cursor: pointer;
  position: absolute;
  margin-top: 1190px;
}

.amst2{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
  position: absolute;
  margin-top: 1300px;
}

.yvcaption{
  position: absolute;
  margin-left: 490px;
  margin-top: 940px;
  font-family: 'Maven Pro';
}

/* YOUNG VOICES PAGE */
.yvtitle{
  font-family: 'Maven Pro';
  font-size: 28px;
  margin-top: 250px;
  margin-left: 775px;
  margin-right: 110px;
  position: absolute;
  z-index: -1;
}

.cover{
  margin-left: 300px;
  margin-top: 100px;
  z-index:-2;
  position: absolute;
}

.spread{
  position: absolute;
  margin-left: 425px;
  margin-top: 650px;
  z-index:-1;
}

.yv1{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-left: 425px;
  margin-right: 300px;
  cursor: pointer;
  position: absolute;
  margin-top: 1170px;
}

.yv2{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
  position: absolute;
  margin-top: 1225px;
}



/* 2018 GALLERY */
.gallery3{
  font-family: 'Maven Pro';
  font-size: 120px;
  margin-right: 540px;
  font-weight: bold;
  float: right;
  overflow: auto;
}

.buy{
  margin-left: 30px;
  position: absolute;
  margin-top: 330px;
  display: block;
  z-index: -1;
}

.ontopbuy{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff799;
}

.buy:hover .ontopbuy{
  opacity: 0.3;
}

.buycaption{
  position: fixed;
  margin-left: 30px;
  margin-top: 550px;
  font-family: 'Maven Pro';
}

/* buy page */

.buytitle{
  font-family: 'Maven Pro';
  font-size: 28px;
  margin-top: 170px;
  margin-left: 750px;
  margin-right: 100px;
  position: absolute;
  z-index: -1;
}

.final{
  margin-left: 250px;
  margin-top: 150px;
  z-index: -2;
}

.artshow{
  margin-left: 425px;
  margin-top: -20px;
  z-index:1;
}

.buy1{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-left: 425px;
  margin-right: 300px;
  cursor: pointer;
}

.buy2{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
}

.buy3{
  margin-left: 540px;
}

.buy4{
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 450px;
  margin-right: 350px;
  cursor: pointer;
}

/* FOOTER */

.footer{
  margin-left:auto;
  margin-right:auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 95%;
  color: white;
  text-align: right;
  z-index: -2;
}
